<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Module Info.</h1>
</div>

<div class="col py-3">

  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/module">Program Management</a></li>
          <li class="breadcrumb-item active">{{ module.module_name }} Module Info.</li>
        </ol>
      </nav>
    </div>
    {{!-- <div class="col text-end fw-lighter">
      <b>Last Updated {{student.date_time}} </b>
    </div> --}}
  </div>

</div>

<ul class="list-group">

    <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Module ID:</b></div>
      <div class="col">{{ module.id }}</div>
    </div>
  </li>

  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Module Name:</b></div>
      <div class="col">{{ module.module_name }}</div>
    </div>
  </li>

  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Duration:</b></div>
      <div class="col">{{ module.duration }}</div>
    </div>
  </li>

  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Module Fee:</b></div>
      <div class="col">{{ module.price }}</div>
    </div>
  </li>

  {{!-- <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Date Created:</b></div>
      <div class="col">{{ student.date_time }}</div>
    </div>
  </li> 

  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Date Modified:</b></div>
      <div class="col">{{ student.date_time }}</div>
    </div>
  </li> --}}

</ul>
